NEXT_PUBLIC_API_BASE_URL=https://backend.borkotmoyponno.com/api/v1
NEXT_PUBLIC_SITE_URL=https://borkotmoyponno.com
NEXT_PUBLIC_GTM_ID=GTM-TW5XMPDS
NEXT_PUBLIC_GEMINI_API_KEY=AIzaSyABc0k9dtn2y5od_focrVfe9eeTZewCq-U
NEXT_PUBLIC_IMAGEBB_API_KEY=edd3b3f0ef3dab2071f9dc9b17f80ff5